<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.comma_groupware.chat.ChatRoomMapper">

  <insert id="createRoom"
          parameterType="com.example.comma_groupware.dto.ChatRoom"
          useGeneratedKeys="true"
          keyProperty="chatRoomId"
          keyColumn="chat_room_id">
    INSERT INTO chat_room (chat_room_type)
    VALUES (#{chatRoomType})
  </insert>

</mapper>