<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.comma_groupware.mapper.EmpMapper">

  <select id="selectEmployeeCount" parameterType="string" resultType="int">
    SELECT COUNT(*)
    FROM employee
    <where>
      <if test="searchWord != null and searchWord != ''">
        (emp_name LIKE CONCAT('%', #{searchWord}, '%')
        OR username LIKE CONCAT('%', #{searchWord}, '%')
        OR emp_email LIKE CONCAT('%', #{searchWord}, '%'))
      </if>
    </where>
  </select>

  <select id="selectEmployeeList" parameterType="map" resultType="com.example.comma_groupware.dto.Employee">
    SELECT emp_id AS empId,
           username,
           emp_name AS empName,
           emp_email AS empEmail,
           emp_status AS empStatus,
           emp_phone AS empPhone,
           emp_exp AS empExp,
           role
    FROM employee
    <where>
      <if test="searchWord != null and searchWord != ''">
        (emp_name LIKE CONCAT('%', #{searchWord}, '%')
        OR username LIKE CONCAT('%', #{searchWord}, '%')
        OR emp_email LIKE CONCAT('%', #{searchWord}, '%'))
      </if>
    </where>
    ORDER BY emp_id DESC
    LIMIT #{rowPerPage} OFFSET #{beginRow}
  </select>

</mapper>
