<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.comma_groupware.mapper.ProjectMapper">

	<insert id="addProject" parameterType="com.example.comma_groupware.dto.Project"
		useGeneratedKeys="true" keyProperty="projectId">
		INSERT INTO project(
			project_title, pm_id, project_desc, project_status, project_git_url,
			start_date, end_date
		) VALUES(
			#{projectTitle}, #{pmId}, #{projectDesc}, #{projectStatus}, #{projectGitUrl},
			#{startDate}, #{endDate}
		)
	</insert>
</mapper>